h2{
    text-align: center;
    color:white;
    background-color: teal;
    font-size: 50px;
}
ul{
    list-style-type: none;
}
li{
    text-align: center;
    display: inline-block;
    background-color: teal;
    padding: 14px 16px;
    font-size: larger;
    margin:10px;
}

li:hover{
    background-color: rgb(138, 192, 192);
}
a{
    color:white;
}